.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EFE7E3;
    color: #273852;
}

.footer .text-dark {
    color: #273852 !important;
}

.list-group-item {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.bg-custom {
    background-color: #273852;
}

.text-custom {
    color: #273852;
}

.operator-btn {
    background-color: #273852 !important;
    color: white !important;
    border: none;
}

.operator-btn:hover,
.operator-btn:focus {
    background-color: #273852 !important;
    /* Keeps the same color on hover */
    color: white !important;
}

/* Remove arrows in Bootstrap number input */
.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control[type="number"] {
    -moz-appearance: textfield;
}

.offcanvas.offcanvas-start {
    width: 250px;
}

/* Optional: Make the sidebar look better on smaller screens */
@media (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 200px; /* Narrower sidebar for smaller devices */
    }
}

.sidebar {
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 100; /* Ensure it stays above other content */
    overflow-y: auto; /* Enable scrolling if content overflows */
}